.main-canvas {
  background: black;
}

.star {
  fill: white;
}

.halo {
  fill: none;
  stroke-width: 1;
}

.statistic {
  font-family: Verdana;
  font-size: 14pt;
  fill: green;
}

.divider {
  height: 16px;
  width: 100px;
}

.controls-left, .controls-right {
  position: absolute;
  top: 0;
  padding: 8px;
}

.controls-left {
  left: 0;
}

.controls-right {
  right: 0;
  align: right;
}

.control {
  position: relative;
  font-family: Verdana;
  font-size: 14pt;
  color: #609;
  cursor: pointer;
  user-select: none;
}

.statistic {
  position: relative;
  font-family: Verdana;
  font-size: 14pt;
  color: #906;
  cursor: pointer;
  user-select: none;
}

.control-inactive {
  fill: #306;
  cursor: pointer;
}

.planet {
  font-family: Verdana;
  font-size: 11pt;
  fill: blue;
}
